<div class="modal modal-sheet p-4 py-md-5" tabindex="-1" id="{{modalIdx}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Modal title</h1>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(modalIdx)"></button>
            </div>
            <div class="modal-body py-0">
                <input [(ngModel)]="modalText" type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                <button type="button" class="btn btn-lg btn-primary" (click)="updateModalText()">Save changes</button>
                <button type="button" class="btn btn-lg btn-secondary" (click)="closeModal(modalIdx)">Close</button>
            </div>
        </div>
    </div>
</div>
